.resultpage {
    text-align: center;
    margin: auto;
    width: 90%;
}

.chart {

    margin: auto;
    width: 90%;
    margin-top: 50px !important;
}

.result-header {
    background-color: rgb(17, 78, 142) !important;
    color: white;
    padding: 10px;
    padding-bottom: 30px;
}

.result-table {
    padding: 10px;
    margin-top: 30px !important;
    text-align: center !important;
    width: 80% !important;
    margin: auto;

}

.result-table th,
td {
    text-align: center !important;

}

.result-table th {
    background-color: rgb(17, 78, 142) !important;

}

.examinee-comments {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.examinee-comments h5 {
    background-color: rgb(17, 78, 142);
    color: white;
    padding: 4px;
}

.examinee-comments-box {
    text-align: left !important;
    padding: 5px;
    padding-top: 0px
        /* font-size: 15px; */
}

.terms-of-use {
    background-color: rgb(17, 78, 142);
    color: white;
    width: 80% !important;
    margin: auto;
    padding: 4px;

}

.copyright {
    margin-top: 10px !important;
    background-color: rgb(17, 78, 142);
    color: white;
    width: 80% !important;
    margin: auto;
    padding: 4px;

}

.automatic-text {
    margin-top: 25px !important;
    background-color: rgb(17, 78, 142);
    color: white;
    width: 80% !important;
    margin: auto;
    padding: 4px;

}