
.ForgotPasswordContainer {
  text-align: center;
}

.ForgotPasswordMid {
  display: flex;
  justify-content: center;
}

.ForgotPasswordLeftside {
  max-width: 400px;
  width: 100%;
  margin: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #ff9000;;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.error-text {
  color: red;
}

.success-text {
  color: #ff9000;;
}

.additional-links {
  margin-top: 20px;
}

.additional-links a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.additional-links a:hover {
  text-decoration: underline;
}